:root {
    --sfondo: #060a14;
    --sfondo2: #0d1526;
    --blu: #003087;
    --blu-chiaro: #0070d1;
    --testo: #ffffff;
    --testo-muted: #aaaaaa;
    --bordo: #1a2a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--sfondo);
    color: var(--testo);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--sfondo2);
    border-bottom: 2px solid var(--blu-chiaro);
    padding: 15px 40px;
}

.titolo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo h1 {
    color: var(--blu-chiaro);
    font-size: 1.5rem;
}

.icone a{
    color: var(--testo);
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
}

.icone a:hover {
    color: var(--blu-chiaro);
}

nav {
    background-color: var(--sfondo2);
    padding: 12px 40px;
    border-bottom: 1px solid var(--bordo);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul a {
    color: var(--testo-muted);
    text-decoration: none;
    font-size: 1rem;
}

nav ul a:hover {
    color: var(--blu-chiaro);
}

.paragrafo {
    background-color: var(--sfondo2);
    border: 4px solid var(--blu-chiaro);
    margin: 30px 40px;
    padding: 20px 25px;
    border-radius: 8px;
    color: var(--testo-muted);
    font-size: 1rem;
    line-height: 1.7;
}

label {
    display: block;
    margin: 0 40px 10px 40px;
    color: var(--testo);
    font-size: 1rem;
    font-weight: bold;
}

select {
    display: block;
    margin: 0 40px;
    padding: 10px 20px;
    background-color: var(--sfondo2);
    color: var(--testo);
    border: 4px solid var(--blu-chiaro);
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

select:hover {
    border-color: var(--testo);
}

table {
    border: 4px solid var(--blu-chiaro);
    background-color: var(--sfondo2);
    border-radius: 10px;
    margin: 30px auto;
    width: fit-content;
}

td, th {
    border: 4px solid var(--blu-chiaro);
    border-radius: opx;
    padding: 10px 5px;
}

td button {
    width: 100px;
    padding: 5px;
    background-color: var(--testo-muted);
    border: 2px solid var(--blu);
}

td button:hover {
    background-color: var(--blu-chiaro);
}
